@sverigesradio:registry=https://npm.pkg.github.com/sverigesradio
//npm.pkg.github.com/:_authToken=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
proxy=http://proxy.sr.se:8080/
https-proxy=http://proxy.sr.se:8080/
